html {
  width: 100%;
  margin: 0;
}

body {
  font-family: Montserrat, 'Gill Sans', sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow: scroll;
  height: 100vh;
  width: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  width: 100%;
  font-size: xx-large;
  letter-spacing: 0.12em;
  height: 60px;
  margin-top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navigation a {
  text-decoration: none;
  color: #E2FCEF;
}

.navigation a:hover {
  color: #5db6ff;
  letter-spacing: 0.3em;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navigation #project-link, .navigation #writing-link {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .navigation #about-link {
    margin-left: 40%;
  }
}

.navigation.scrolling {
  background-color: rgba(82, 93, 104, 0.856);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navigation.scrolling a {
  font-size: 50%;
}

.navigation.scrolling #project-link, .navigation.scrolling #writing-link {
  visibility: visible;
}

.navigation.scrolling #about-link {
  margin-left: 0;
}

.navigation.scrolling .active {
  border-bottom: solid 3px #5db6ff;
  font-size: 80%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contents {
  text-align: center;
}

.contents h1 {
  letter-spacing: 0.16em;
  color: #023158;
}

.contents h3 {
  letter-spacing: 0.2em;
  color: #5db6ff;
  font-family: 'Open Sans', sans-serif;
}

.about {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  background-color: #023158;
}

.about .contents {
  margin-top: 60px;
}

.about .contents .intro .header-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 2fr 2fr 2fr 2fr;
      grid-template-rows: 2fr 2fr 2fr 2fr;
      grid-template-areas: "  .    .    .    .   " "  .   box1 box1  .   " "  .   box2 box2 box2 " " box3 box3 box3 box3 ";
}

.about .contents .intro .header-grid .intro-header-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: box1;
  text-align: left;
  font-size: 400%;
  color: #E2FCEF;
}

.about .contents .intro .header-grid .intro-header-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: box2;
  text-align: center;
  font-size: 250%;
  color: #5db6ff;
  font-family: 'Open Sans', sans-serif;
}

.about .contents .intro .header-grid .intro-subtitle {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: box3;
  text-align: center;
  color: #5db6ff;
  font-size: large;
  letter-spacing: 0.12em;
}

.about .contents #technologies .description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid transparent;
  border-radius: 15px;
  background-color: #E2FCEF;
  width: 100%;
  text-align: left;
  padding: 2% 2% 4% 5%;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

.about .contents #technologies .description h2 {
  letter-spacing: 0.2em;
  color: #023158;
  font-family: 'Open Sans', sans-serif;
}

.about .contents #technologies .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about .contents #technologies .grid p {
  color: #E2FCEF;
}

#projects-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px 10px;
  list-style: none;
  padding: 10px;
  margin-bottom: 0;
  border: solid 10px transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: -18px;
  padding-bottom: 10px;
}

.project-card {
  position: relative;
  display: block;
  max-width: 400px;
  height: 500px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid transparent;
  background-color: #C6DBF0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.project-card h4 {
  color: #023158;
  text-align: center;
  font-size: larger;
}

.project-card img {
  margin-top: 2%;
  max-height: 45%;
}

.project-card p {
  position: absolute;
  bottom: 0;
  color: #020202;
  text-align: center;
  font-size: large;
  line-height: 1.5em;
  width: 98%;
  margin-left: 1%;
}

.project-card div {
  height: 45%;
}

.project-card div img {
  max-height: 96%;
  margin-bottom: 5%;
}

#medium {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-left: 5%;
  padding: 0;
  margin-bottom: -18px;
  padding-bottom: 10px;
}

.article-card {
  position: relative;
  display: block;
  width: 90%;
  max-width: 400px;
  height: 300px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid transparent;
  border-radius: 15px;
  background-color: #e1ecfa;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.article-card h4 {
  color: #023158;
  text-align: center;
  font-size: larger;
}

.article-card img {
  margin-top: 2%;
  max-width: 90%;
  max-height: 45%;
}

.article-card p {
  position: absolute;
  bottom: 0;
  color: black;
  text-align: center;
  font-size: large;
  line-height: 1.5em;
  width: 98%;
  margin-left: 1%;
}

.article-card img {
  margin-top: 5%;
}

.projects {
  background-color: #3B1F2B;
  margin-bottom: 1em;
}

.projects h1 {
  margin-top: 0;
  padding: 2em;
  color: #E2FCEF;
}

.writing {
  background-color: #1D2D44;
}

.writing h1 {
  margin-top: 0;
  padding: 2em;
  color: #E2FCEF;
}

.contact {
  height: 150px;
  background-color: #023158;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.contact ul a {
  text-decoration: none;
  color: #E2FCEF;
}

.contact ul a:hover {
  color: #5db6ff;
  font-size: larger;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact p {
  color: #E2FCEF;
  text-align: center;
  font-size: smaller;
}
/*# sourceMappingURL=index.css.map */