$color1: #023158;
$color2: #E2FCEF;
$color3: #3B1F2B;
$color4: #020202;
$color5: rgb(93, 182, 255);


@mixin grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-left: 5%;

}


@mixin grid-cards ($height: 500px, $shadow-bottom: rgb(137, 156, 180), $shadow-top: rgb(243, 243, 243), $background: $color2) {
    position: relative;
    display: block;
    width: 90%;
    max-width: 400px;
    height: $height;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    border: solid transparent;
    border-radius: 15px;
    background-color: $background;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;

    h4 {
        color: $color1;
        text-align: center;
        font-size: larger;
    }
       
    img {
        margin-top: 2%;
        max-width:90%;
        max-height: 45%;
    }

    p {
        position: absolute;
        bottom: 0;
        color: black;
        text-align: center;
        font-size: large;
        line-height: 1.5em;
        width: 98%;
        margin-left: 1%;
    }
    
}

@mixin project-grid-container {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px 10px;
    list-style: none;
    padding: 10px;
    margin-bottom: 0;
    border: solid 10px transparent;
    align-items: center;
//     width: 94%;
//     margin-left: 3%;
}

@mixin project-grid-cards {
    position: relative;
    display: block;
    max-width: 400px;
    height: 500px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    border: solid transparent;
    background-color: #C6DBF0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

    h4 {
        color: $color1;
        text-align: center;
        font-size: larger;
    }
       
    img {
        margin-top: 2%;
        max-height: 45%;
    }

    p {
        position: absolute;
        bottom: 0;
        color: $color4;
        text-align: center;
        font-size: large;
        line-height: 1.5em;
        width: 98%;
        margin-left: 1%;
    }
    
}

@mixin section-header {

    margin-top: 0;
    padding: 2em;

}

html { width: 100%; margin: 0;}

body { 
    font-family: Montserrat, 'Gill Sans', sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow: scroll;
    height: 100vh;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.12em;
    height: 60px;
    margin-top: 0;
    align-items: center;
    z-index: 2;

    a { 
        text-decoration: none;
        color: $color2;

        &:hover {
            color: $color5;
            letter-spacing: 0.3em;
            transition: all 200ms ease-in-out;
        }
        
    }

    #project-link, #writing-link { visibility: hidden; }
    
    
    
    @media screen and (max-width: 500px) {
        #about-link { margin-left: 40%;}
    }

    transition: all 200ms ease-in-out;
}

.navigation.scrolling {
    background-color: rgba(82, 93, 104, 0.856);
    
    a { font-size: 50%; }

    #project-link, #writing-link { visibility: visible; }
    #about-link { margin-left: 0;}


    .active {
        border-bottom: solid 3px $color5;
        font-size: 80%;
        transition: all 200ms ease-in-out;
    }

    

    transition: all 200ms ease-in-out;
}


.contents {
    text-align: center;

    h1 {
        letter-spacing: 0.16em;
        color: $color1;
    }
    h3 {
        letter-spacing: 0.2em;
        color: $color5;
        font-family: 'Open Sans', sans-serif;
    }
}

.about {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background-color: $color1;

    .contents {
        margin-top: 60px;

        .intro {
            
            .header-grid {
                display: grid;
                height: 100vh;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 2fr 2fr 2fr 2fr;
                grid-template-areas: 
                "  .    .    .    .   "
                "  .   box1 box1  .   "
                "  .   box2 box2 box2 "
                " box3 box3 box3 box3 ";

                .intro-header-1 {
                    grid-area: box1;
                    text-align: left;
                    font-size: 400%;
                    color: $color2;
                }
                .intro-header-2 {
                    grid-area: box2;
                    text-align: center;
                    font-size: 250%;
                    color: $color5;
                    font-family: 'Open Sans', sans-serif;
                }
                .intro-subtitle {
                    grid-area: box3;
                    text-align: center;
                    color: $color5;
                    font-size: large;
                    letter-spacing: 0.12em;
                }

            }
            
        }

        #technologies {
            // min-height: 100vh;
            .description {
                box-sizing: border-box;
                border: solid transparent;
                border-radius: 15px;
                background-color: $color2;
                width: 100%;
                text-align: left;
                padding: 2% 2% 4% 5%;
                letter-spacing: 0.1em;
                line-height: 1.8em;

                h2 { 
                    letter-spacing: 0.2em; 
                    color: $color1;
                    font-family: 'Open Sans', sans-serif;
                }

            }
            
            .grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                p { color: $color2; }
            }
        }
    }
}


#projects-container {

    @include project-grid-container;
    padding: 0;
    margin-bottom: -18px;
    padding-bottom: 10px;

} 

.project-card {
   
    @include project-grid-cards;

    div { 
        height: 45%;
    
        img { max-height: 96%;  margin-bottom: 5%;}

    }

}

#medium {

    @include grid-container;
    padding: 0;
    margin-bottom: -18px;
    padding-bottom: 10px;

}

.article-card {

    @include grid-cards($height: 300px, $shadow-bottom: rgb(249, 252, 255), $shadow-top: rgb(168, 196, 230), $background: rgb(225, 236, 250));

    img { margin-top: 5%;}

}

.projects { 

    background-color: $color3;

    h1 { 
        @include section-header;
        color: $color2
    }
    margin-bottom: 1em;
}

.writing { 
    
    background-color: #1D2D44;

    h1 { 
        @include section-header; 
        color: $color2;
    }
    
    
}

.contact {
    height: 150px;
    background-color: $color1;

    ul {
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: $color2;
            &:hover {
                color: $color5;
                font-size: larger;
                transition: all 200ms ease-in-out;
            }
        }
    }

    p {
        color: $color2;
        text-align: center;
        font-size: smaller;
    }

}

