html {
  width: 100%;
  margin: 0;
}

body {
  font-family: Montserrat, 'Gill Sans', sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow: scroll;
  height: 100vh;
  width: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  width: 100%;
  font-size: x-large;
  letter-spacing: 0.12em;
  height: 60px;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation .link {
  position: relative;
}

.navigation .link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5DB6FF;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .link:hover:before {
  visibility: visible;
  width: 100%;
}

.navigation .link:hover {
  color: #5DB6FF;
}

.navigation .link.active {
  font-size: xx-large;
  color: #5DB6FF;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media screen and (max-width: 500px) {
  .navigation {
    font-size: large;
  }
  .navigation .link.active {
    font-size: large;
  }
}

.navigation.-about {
  background-color: #001220;
}

.navigation.-projects {
  background-color: #130108;
}

.navigation.-articles {
  background-color: #011127;
}

.contents {
  text-align: center;
}

.contents h1 {
  letter-spacing: 0.16em;
  color: #023158;
}

.contents h3 {
  letter-spacing: 0.2em;
  color: #5DB6FF;
  font-family: 'Open Sans', sans-serif;
}

.about {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#023158), to(#020202));
  background: linear-gradient(#023158, #020202);
}

.about .contents {
  margin-top: 20px;
}

.about .contents .intro .header-grid {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 2fr;
      grid-template-areas: "  .   box1 box1  .   " "  .   box2 box2 box2 " " box3 box3 box3 box3 ";
}

.about .contents .intro .header-grid .intro-header-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: box1;
  text-align: left;
  font-size: 400%;
  color: #E2FCEF;
}

.about .contents .intro .header-grid .intro-header-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: box2;
  position: relative;
  text-align: center;
  color: #5DB6FF;
  font-family: 'Open Sans', sans-serif;
}

.about .contents .intro .header-grid .intro-header-2 h1 {
  color: #5DB6FF;
  font-size: 250%;
}

.about .contents .intro .header-grid .intro-header-2 .intro-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #5DB6FF;
  font-size: large;
  letter-spacing: 0.12em;
}

.about .contents .intro .header-grid .social-links {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: box3;
}

.about .contents .intro .header-grid .social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  margin-top: 10%;
}

.about .contents .intro .header-grid .social-links ul img {
  min-height: 60px;
  background-color: #5DB6FF;
  border-radius: 50%;
  border: solid #3ab37b 1px;
}

@media screen and (max-width: 665px) {
  .about .contents .intro .header-grid {
        grid-template-areas: " box1 box1 box1  .   " " box2 box2 box2 box2 " " box3 box3 box3 box3 ";
  }
  .about .contents .intro .header-grid .intro-header-2 .intro-subtitle {
    position: relative;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .contents #technologies .description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid transparent;
  border-radius: 15px;
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 2% 2% 4% 5%;
  letter-spacing: 0.1em;
  line-height: 1.8em;
}

.about .contents #technologies .description h2 {
  letter-spacing: 0.2em;
  color: #023158;
  font-family: 'Open Sans', sans-serif;
}

.about .contents #technologies .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about .contents #technologies .grid p {
  color: #E2FCEF;
}

.projects {
  background-color: #3B1F2B;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects h1 {
  margin-top: 0;
  padding: 2em;
  color: #C6DBF0;
  background-color: transparent;
}

.projects #projects-container {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.projects #projects-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 90%;
  background-color: #C6DBF0;
}

.projects #projects-container li .project-card {
  margin: 0 auto;
  height: 500px;
  max-width: 400px;
  width: 100%;
}

.projects #projects-container li .project-card h4 {
  color: #023158;
  text-align: center;
  font-size: larger;
  padding: 0.5em;
}

.projects #projects-container li .project-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects #projects-container li .project-card div img {
  max-height: 96%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.projects #projects-container li .card-border {
  display: inline-block;
  height: 300px;
  border: solid #023158 1px;
}

.projects #projects-container li .project-details {
  margin: 0 auto;
  height: 500px;
  max-width: 400px;
  width: 100%;
  color: #020202;
}

.projects #projects-container li .project-details h4 {
  color: #023158;
  text-align: center;
  font-size: larger;
  padding: 0.5em;
}

.projects #projects-container li .project-details p {
  padding: 0.5em;
}

.projects #projects-container li .project-details div h4 {
  font-size: 150%;
  margin: 0 auto;
  padding: 0.5em;
}

.projects #projects-container li .project-details div ul {
  padding: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 780px) {
  .projects #projects-container li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects #projects-container li .project-card {
    height: 400px;
  }
  .projects #projects-container li .project-card div {
    max-height: 80%;
  }
  .projects #projects-container li .project-card div img {
    max-height: 90%;
  }
  .projects #projects-container li .card-border {
    height: auto;
    width: 70%;
  }
}

.articles {
  background-color: #1D2D44;
}

.articles h1 {
  margin-top: 0;
  padding: 2em;
  color: #E2FCEF;
}

.articles #medium {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  list-style: none;
  padding: 10px;
  margin-bottom: 0;
  border: solid 10px transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: -18px;
  padding-bottom: 10px;
}

.articles #medium .article-card {
  position: relative;
  display: block;
  max-width: 400px;
  height: 300px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid transparent;
  background-color: #C6DBF0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.articles #medium .article-card h4 {
  color: #023158;
  text-align: center;
  font-size: larger;
}

.articles #medium .article-card img {
  margin-top: 2%;
  max-height: 45%;
  max-width: 90%;
}

.articles #medium .article-card p {
  position: absolute;
  bottom: 0;
  color: #020202;
  text-align: center;
  font-size: large;
  line-height: 1.5em;
  width: 98%;
  margin-left: 1%;
}

.articles #medium .article-card img {
  margin-top: 5%;
}

.contact {
  height: 150px;
  background-color: #023158;
}

.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact ul a {
  text-decoration: none;
  color: #E2FCEF;
}

.contact ul a:hover {
  color: #5DB6FF;
  font-size: larger;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.contact p {
  color: #E2FCEF;
  text-align: center;
  font-size: smaller;
}

.contact.-about {
  height: 30px;
}

.contact.-about p {
  margin-top: 0;
  padding: 4px;
}
/*# sourceMappingURL=index.css.map */