$color1: rgb(2, 49, 88);
$color2: #F4F9FF;
$color3: rgb(217, 233, 252);
$header: rgb(93, 182, 255);


@mixin grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

@mixin grid-cards ($height: 400px, $shadow-bottom: rgb(137, 156, 180), $shadow-top: rgb(243, 243, 243), $background: $color2) {
    display: block;
    width: 90%;
    margin-left: 5%;
    max-width: 400px;
    height: $height;
    padding: 0;
    align-items: center;
    border: solid transparent;
    border-radius: 15px;
    background-color: $background;
    text-decoration: none;
    box-shadow: 4px 4px 15px $shadow-bottom, -2px -4px 15px $shadow-top;
    margin-bottom: 5px;

    h4 {
        color: black;
        text-align: center;
        font-size: larger;
    }
       
    img {
        max-width:90%;
        max-height: 50%;
    }
    
}

@mixin section-header {

    margin-top: 0;
    padding: 2em;

}

html { width: 100%; margin: 0;}

body { 
    font-family: Montserrat, 'Gill Sans', sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow: scroll;
    height: 100vh;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    font-size: xx-large;
    letter-spacing: 0.12em;
    height: 60px;
    margin-top: 0;
    align-items: center;
    z-index: 2;

    a { 
        text-decoration: none;
        color: $color2;

        &:hover {
            color: $header;
            letter-spacing: 0.3em;
            transition: all 200ms ease-in-out;
        }
        
    }

    #project-link, #writing-link { visibility: hidden; }
    
    
    
    @media screen and (max-width: 500px) {
        #about-link { margin-left: 40%;}
    }

    transition: all 200ms ease-in-out;
}

.navigation.scrolling {
    background-color: rgba(82, 93, 104, 0.856);
    
    a { font-size: 50%; }

    #project-link, #writing-link { visibility: visible; }
    #about-link { margin-left: 0;}


    .active {
        border-bottom: solid 3px $header;
        font-size: 80%;
        transition: all 200ms ease-in-out;
    }

    

    transition: all 200ms ease-in-out;
}


#contents {
    text-align: center;

    h1 {
        letter-spacing: 0.16em;
        color: $color1;
    }
    h3 {
        letter-spacing: 0.16em;
        color: $header;
    }
}

.about {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background-color: $color1;

    #contents {
        margin-top: 60px;

        .intro {
            
            .header-grid {
                display: grid;
                height: 100vh;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 2fr 2fr 2fr 2fr;
                grid-template-areas: 
                "  .    .    .    .   "
                "  .   box1 box1  .   "
                "  .   box2 box2 box2 "
                "  .    .    .    .   ";

                .intro-header-1 {
                    grid-area: box1;
                    text-align: left;
                    font-size: 400%;
                    color: rgb(243, 243, 243);
                }
                .intro-header-2 {
                    grid-area: box2;
                    text-align: center;
                    font-size: 250%;
                    color: $header;
                }

            }
            
        }

        #technologies {
            min-height: 100vh;
            .text {
                box-sizing: border-box;
                border: solid transparent;
                border-radius: 15px;
                background-color: white;
                width: 100%;
                text-align: left;
                padding: 2% 2% 4% 5%;
                letter-spacing: 0.1em;

                h2 { letter-spacing: 0.1em; color: $color1;}

            }
            
            .grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                p { color: white; }
            }
           
          
        }
    }
    
}


#projects-container, #medium {

    @include grid-container;
    padding: 0;
    margin-bottom: -18px;
    padding-bottom: 10px;

}

.project-card {
   
    @include grid-cards;

    position: relative;
    div {
        position: absolute;
        top: 0;
        opacity: 0;
        height: 400px;
        border: solid transparent;
        border-radius: 15px;
        background-color: rgba(12, 25, 36, 0.897);
        justify-items: center;
        transition: all 200ms ease-in-out;
        p {
            color: white;
            text-align: center;
            font-size: large;
            line-height: 1.5em;
        }
        &:hover {
            opacity: 1;
            transition: all 200ms ease-in-out;
        }
    }
}

.article-card {

    @include grid-cards($height: 300px, $shadow-bottom: rgb(249, 252, 255), $shadow-top: rgb(168, 196, 230), $background: rgb(225, 236, 250));

    p {
        color: rgb(2, 49, 88);
        text-align: center;
        font-size: large;
        line-height: 1.5em;
    }

}

.projects { 
    background-color: $color2;
    h1 { 
        @include section-header;
    }
    margin-bottom: 1em;
}

.writing { 
    
    background-color: $color3;

    h1 { 
        @include section-header;
        background-image: linear-gradient($color2, $color2, $color3);
    }
    
    
}

#contact {
    height: 150px;
    background-color: $color1;

    ul {
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $header;
                font-size: larger;
                transition: all 200ms ease-in-out;
            }
        }
    }

    p {
        color: white;
        text-align: center;
        font-size: smaller;
    }

}

